<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="text-primary fa-brands fa-square-facebook "></i>
            <i class="text-danger fa-brands fa-square-instagram"></i>
            <i class="text-info fa-brands fa-linkedin"></i>

        </div>
        <div class="text-danger f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>